.modal-dialog {
    width: 90%;
}

.modal-content {
    padding: 30px;
}

.modal-content h2 {
    margin-top: 0;
}

canvas {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

